<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191087790563-9ltc1b31mud3184d1dsuu5ds7muip8f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191087790563-9ltc1b31mud3184d1dsuu5ds7muip8f3</string>
	<key>API_KEY</key>
	<string>AIzaSyAjfmvQaHvZNo0Vm38WM28rHKovKXJ94TM</string>
	<key>GCM_SENDER_ID</key>
	<string>191087790563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mybookshelf</string>
	<key>PROJECT_ID</key>
	<string>my-bookshelf-app-1a405</string>
	<key>STORAGE_BUCKET</key>
	<string>my-bookshelf-app-1a405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191087790563:ios:34aaa96621f708315a38d6</string>
</dict>
</plist>